@import 'uview-plus/theme.scss';

$navBarHeight: 88rpx;
$pagePaddingTop: 100rpx;
$startBackgroundColor: #ff9f49;
$endBackgroundColor: #ffb36f;
$inputBackgroundColor: #f0e7df;
$buttonColor: #ff8d3a;
$approvalCardBackgroundColor: #ffd1a6;
$buttonRadius: 30rpx;
$cardPaddingHor: 5vw;
$borderOutlineColor: $borderOutlineColor;

button::after {
  border: none;
}
